import pygame

pygame.init()

print("Bem vindo ao contador de histórias")
print("Você deseja ler ou ouvir uma história?")

escolha = int(input("""[1] Ler
[2] Ouvir
:"""))

comandos_parar = ["Sim", "sim", "s", "S", "SIM"]

menu = ("""Temos as seguintes histórias:
[1] Chapeuzinho vermelho
[2] Cinderela""")

if escolha == 1:
    print(menu)
    print("Qual você deseja ler?")
    historia = int(input(":"))
    if historia == 1:
        print("""\33[1;33mChapeuzinho vermelho era uma linda menina que morava em uma bela casa com a sua mãe. A menina sempre usava uma capa e um pequeno chapéu na cor vermelha.
Um belo dia, sua mãe pediu para que Chapeuzinho Vermelho fosse levar uma cesta de doces para sua vovó:
Chapeuzinho, por favor, leve esta linda cesta de doces para sua avó, mas evite o caminho da floresta, pois ele é muito perigoso. Escolha o caminho do bosque e não fale com estranhos.
Chapeuzinho amava sua avó e saiu muito rapidamente de casa, cantando de alegria. Ela queria fazer uma surpresa para sua avó e começou a colher as flores que encontrava no caminho.
A menina estava distraída com as flores, quando deu de cara com o lobo mau. Chapeuzinho não sabia que aquele era o lobo malvado, por isso não se assustou e nem sentiu medo.
Bom dia, Chapeuzinho Vermelho.
Bom dia.
Onde você está indo assim tão cedinho?
Vou visitar minha vovozinha, que está muito doente.
O lobo esperto disse a ela:
Por que você não vai pela floresta? A floresta é o caminho mais rápido para a casa da sua avó.
Ela ficou em dúvida, porque não gostava de desobedecer sua mãe, mas resolveu seguir o conselho do lobo. Enquanto chapeuzinho seguia pelo caminho da floresta, o lobo rapidamente seguiu pelo caminho bosque, cantando e correndo. O lobo chegou na casa da vovozinha e bateu na porta:
Quem está aí? — Perguntou a velhinha.
O lobo respondeu, disfarçando a voz:
Sou eu, Chapeuzinho Vermelho.
Entre minha querida, a porta está aberta.
O lobo, que era muito rápido, foi entrando e de uma só vez engoliu a vovozinha. Depois vestiu as roupas dela e ficou a espera de Chapeuzinho Vermelho. Chegando na casa da vovó, a menina encontrou o lobo e perguntou:
Vovó! Porque suas orelhas estão tão grandes?
É para te ouvir melhor.
Vovó! Para que esses olhos tão grandes?
É para te ver melhor.
Credo, vovó, porque a senhora está com essa boca tão grande?
É para te comer! — respondeu o lobo.
Dizendo isso, o lobo começou a correr atrás de Chapeuzinho. Depois de algum tempo, ele tropeçou e caiu no chão. Enquanto isso, a menina se escondeu dentro de um armário. O lobo resolveu dar uma cochilada e começou a roncar. Um caçador que passava escutou:
Que ronco esquisito é este?
Ele entrou e encontrou o lobo mal:
Ah! É você que está aí seu malvado!
Escutando isso, Chapeuzinho apareceu e contou toda a história para o caçador. Aproveitando que o lobo estava dormindo, cortaram a sua a barriga e tiraram a vovozinha de dentro. As duas se abraçaram muito felizes.
E agora o que faremos com esse malvado?
Os três resolveram encher a barriga do lobo de pedras. Quando o lobo acordou, tentou fugir, mas ele caiu e nunca mais levantou.
Todos ficaram aliviados e felizes. 
O caçador foi embora e as duas foram se sentar na varanda e saborear os doces. Chapeuzinho prometeu nunca mais desobedecer a sua mãezinha.""")
    elif historia == 2:
        print("""\33[1;33mCinderela era filha de um comerciante rico. 
Depois que seu pai morreu, sua madrasta tomou conta da casa que era de Cinderela. 
Cinderela então, passou a viver com sua madrasta malvada, junto de suas duas filhas que tinham inveja da beleza de Cinderela e transformaram-na em uma serviçal. Ela tinha de fazer todos os serviços domésticos e ainda era alvo de deboches e malvadezas. Seu refúgio era o quarto no sótão da sua própria casa e seus únicos amigos: os animais da floresta.
Um belo dia, é anunciado que o Rei realizará um baile para que o príncipe escolha sua esposa dentre todas as moças do reino. 
No convite, distribuído a todos os cidadãos, havia o aviso de que todas as moças deveriam comparecer ao Baile promovido pelo Rei.
A madrasta de Cinderela sabia que ela era a mais bonita da região, então disse que ela não poderia ir porque não tinha um vestido apropriado para a ocasião. Cinderela, então, costurou um vestido com a ajuda de seus amigos da floresta. Passarinhos, ratinhos e esquilos a ajudaram a fazer um vestido de retalhos, mas muito bonito.
Porém, a madrasta não queria que Cinderela comparecesse ao baile de forma alguma, pois sua beleza impediria que o príncipe se interessasse por suas duas filhas. Sendo assim, ela e as filhas rasgaram o vestido, dizendo que não tinham autorizado Cinderela a usar os retalhos que estavam no lixo. Fizeram isso de última hora, para impedir que a moça tivesse tempo para costurar outro.
Muito triste, Cinderela foi para seu quarto no sótão e ficou à janela, olhando para o Castelo na colina. Chorou, chorou e rezou muito. De suas orações e lágrimas, surgiu sua Fada-madrinha que confortou a moça e usou de sua mágica para criar um lindo vestido para Cinderela. Também surgiu uma linda carruagem e os amiguinhos da floresta foram transformados em humanos, cocheiro e ajudantes de Cinderela. Antes de sua afilhada sair, a Fada-madrinha lhe deu um aviso: a moça deveria chegar antes da meia-noite, ou toda a mágica iria se desfazer aos olhos de todos.
Cinderela chegou à festa como uma princesa. Estava tão bonita, que não foi reconhecida a não ser pela madrasta, que passou a noite inteira dizendo para as filhas que achava conhecer a moça de algum lugar, mas não conseguia dizer de onde. O príncipe, tão-logo a viu a convidou para dançar. Cinderela e o príncipe dançaram e dançaram a noite inteira. Conversaram e riram como duas almas gêmeas e logo se perceberam feitos um para o outro.
Acontece que a fada-madrinha tinha avisado que toda a magia só duraria até à meia-noite e um. Quando o relógio badalou as doze batidas e um minuto, Cinderela teve de sair correndo. Foi quando deixou um dos seus sapatinhos de cristal na escadaria. O príncipe, muito preocupado por não saber o nome da moça ou como reencontrá-la, pegou o pequeno sapatinho e saiu em sua busca no reino e em outras cidades. Muitas moças disseram ser a dona do sapatinho, mas o pé de nenhuma delas se encaixava no objeto.
Quando o príncipe bateu à porta da casa de Cinderela, a madrasta trancou a moça no sótão e deixou apenas que suas duas filhas experimentassem o sapatinho. Apesar das feiosas se esforçarem, nada do sapatinho de cristal servir. Foi quando um ajudante do príncipe viu que havia uma moça na janela do sótão da casa.
Sob as ordens do príncipe, a madrasta teve de deixar Cinderela descer. A moça então experimentou o sapatinho, mas antes mesmo que ele servisse em seus pés, o príncipe já tinha dentro do seu coração a certeza de que havia reencontrado o amor de sua vida. Cinderela e o príncipe se casaram em uma linda cerimônia, e anos depois se tornariam Rei e Rainha, famosos pelo bom coração e pelo enorme senso de justiça. Cinderela e o príncipe foram felizes para todo o sempre.""")
elif escolha == 2:
    print(menu)
    print("Qual você deseja ouvir?")
    historia = int(input(":"))
    if historia == 1:
        pygame.mixer.music.load("Chapeuzinho Vermelho - Historia completa em  Português com Os Amiguinhos.mp3")
        pygame.mixer.music.play()
        pare = str(input("Deseja parar de ouvir? :"))
        if pare in comandos_parar:
            exit()
    elif historia == 2:
        pygame.mixer.music.load("Cinderela - historia completa em  Português.mp3")
        pygame.mixer.music.play()
        pare = str(input("Deseja parar de ouvir? :"))
        if pare in comandos_parar:
            exit()
    while pygame.mixer.music.get_busy():
        pygame.time.Clock().tick(10)
pygame.quit
